*{
    margin:0px;
    padding:0px;
    border:border-box;
    font-family: arial;
}
.navbar {
    height:60px;
    background-color:#0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.amazon-logo {
    height:50px;
    width:113px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size:cover;
    height:50px;
    width:113px;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}

/* box2 */
.textone{
    color:#cccccc;
    font-size:0.85rem;
    margin-left: 15px;
}
.texttwo{
    font-size:1rem;
}
.add-icon{
    display:flex;
    align-items: center;
}

/* Box3 */

.nav-search{
    display:flex;
    background-color: aqua;
    width:620px;
    height:40px;
    border-radius:5px;
    justify-content: space-evenly;
}
.select-bar{
    background-color: #f3f3f3;
    text-align:center;
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}

.search-bar{
    width:100%;
    font-size:1rem;
    border:none;
}

.search-icon{
    display:flex;
    align-items: center;
    justify-content: center;
     width:45px;
     font-size:1.2rem;
     background-color:#febd68 ; 
     border:none;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     color: #0f1111;
}

/* Box4 */

span{
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-search:hover{
    border:2px solid orange;
}

/* Box6 */

.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight:700;
}

/* panel */
.panel{
    background-color: #222f3d;
    height: 40px;
    display:flex;
    color:white;
    align-items: center;
    justify-content:space-evenly;
}
.panel-options p{
    display:inline;
    margin-left: 15px;
   
}
.panel-options{
    width:70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size:0.9rem;
    font-weight: 700;
}
.allmenu{

}

/* Hero Section */

.hero-section{
    height: 350px;
    background-image: url(hero\ section.jpg);
    background-size: cover;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-msg{
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width:90%;
    margin-bottom: 25px;
    justify-content: center;


}
.hero-msg a {
    color: #007185;
    text-decoration: none;
}

/* Shop section */
.shop-section{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(255, 237, 240);
}

.box{
    height:400px;
    width:23%;
    background-color: white;
    margin-top: 15px;
    padding: 20px 0px 15px;

}

.box-image{
    height:300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.box-content{
    margin-left: 15px;
    margin-right: 15px;
}
.box-content p{
    color:#007185;
}

/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    height:50px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    height:400px;
    color:white;
    display:flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 35px;
}

ul a{
    display:block;
    font-size: 0.85rem;
    margin-top: 10px;
    color:#dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.1px solid white;
    height:70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-panel4{
    background-color: #0f1111;
    height:80px;
    font-size:0.7rem;
    text-align:center;
    color:white;
}

.pages{
    padding-top:25px;
}
.copyright{
    padding-top:5px;
}

 